@tailwind base;
@tailwind components;
@tailwind utilities;

.card-continer {
    display: grid;
    gap: 20;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-column-gap: 20px;
    padding: 30;
    place-items: center;
}

.card {
    width: 300px;
    height: 400;
    display: flex;
    justify-content: center;
    /* background: #05386B; */
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 10px;
    flex-direction: column;
    padding: 10;
}

.card-dark {
    background: #05386B;
    color: #EDF5E1;
}

.card-light {
    background: #3f8cd9;
    color: #130c2b;
}

.card-img {
    width: 200px;
    height: 200px;
    display: flex;
    align-self: center;
}

.card-content {
    padding: 10;
}

.hr {
    border-style: solid #05386B;
}

.card-name {
    font-size: 20;
    font-weight: 500;
    margin-bottom: 5;
}

.card-address {
    margin: 5px 0;
}

.card-icons {
    display: flex;
    margin-top: 15;
    justify-content: space-around;
}

.input-search {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    margin-top: 10;
    background: #05386B;
    color: #EDF5E1;
}

.input-label-search {
    font-size: 18;
    font-weight: normal;
}

.search-box-button {
    width: 80;
    height: 40;
    margin-left: 5;
    cursor: pointer;
    border-radius: 5;
    color: #EDF5E1;
    background-color: #05386B;
}

.search-box-button-get-team {
    height: 40;
    margin-left: 10;
    cursor: pointer;
    border-radius: 5;
    background-color: #05386B;
    color: #EDF5E1;
}

.route-error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50;
    flex-direction: column;
}

.page-not-found-gif {
    height: 400;
    width: 400;
    border-radius: 10;
}

.go-back-button {
    width: 100;
    height: 50;
    background: #05386B;
    color: #EDF5E1;
    cursor: pointer;
    border-radius: 5;
    margin-top: 10;
}

.mate-container {
    display: flex;
    /* justify-content: space-between; */
    gap: 30;
    padding: 50;
}

.mate-card {
    width: 300;
    height: 300;
    display: flex;
    justify-content: center;
    background: #EDF5E1;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 15;
    flex-direction: column;
    padding: 10;
    color: #05386B;
}

.mate-card > img {
    border-radius: 15;
}

.mate-card-dark {
    background: #05386B;
    color: #EDF5E1;
}

.mate-card-light {
    color: #05386B;
    background: #EDF5E1;
}

.mate-card-details {
    width: 100%;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 15;
    flex-direction: row;
    padding: 10;
    padding: 20;
}

.mate-card-details-dark {
    background: #05386B;
    color: #EDF5E1;
}

.mate-card-details-light {
    color: #05386B;
    background: #EDF5E1;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 20
}

.mate-card-info {
    display: flex;
    max-width: 300;
    gap: 10;
    align-items: center;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 15;
    flex-direction: column;
    padding: 10;
}

.mate-card-info-dark {
    background: #05386B;
    color: #EDF5E1;
}

.mate-card-info-light {
    background: #EDF5E1;
    color: #05386B;
}

.follower-following {
    margin: 5
}

.repo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10;
    justify-content: space-between;
}

.repo-item {
    width: 500px;
    display: flex;
    align-items: center;
}

.repo-link {
    text-decoration: none;
    color: inherit;
}

.search-box {
    padding-top: 20;
    padding-left: 30;
}

.not-found-img {
    width: 400;
}

.div-not-found-img {
    align-self: center;
}

.header-link {
    text-decoration: none;
    color: #EDF5E1;
}

.search-label {
    margin-left: 10;
}

.search-filter {
    height: 40;
    margin-left: 5;
    cursor: pointer;
    border-radius: 5;
    background-color: #273748;
    color: #EDF5E1;
}

.theme-button {
    cursor: pointer;
    margin-right: 10;
}

.repo-icon {
    width: 20px;
    height: 20px;
}
