body {
    margin: 0;
    background: #5CDB95;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    display: flex;
    gap: 30;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    height: 50px;
    background: #05386B;
    color: #EDF5E1;
    padding: 10;
    justify-content: space-between;
}

.header-heading {
    font-size: 22px;
    font-weight: 600;
}

.card-continer {
    display: flex;
    gap: 20;
    flex-wrap: wrap;
    padding: 30;
    justify-content: space-between;
}

.card {
    width: 400px;
    display: flex;
    justify-content: center;
    background: #EDF5E1;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 10px;
    flex-direction: column;
    padding: 10;
    color: #05386B;
}
.card-img {
    width: 250px;
    height: 250px;
    display: flex;
    align-self: center;
}

.card-content {
    padding: 20;
}

.hr {
    border-style: solid #05386B;
}

.card-name {
    font-size: 22;
    font-weight: 500;
    margin-bottom: 5;
}

.card-address {
    margin: 5px 0;
}

.card-icons {
    display: flex;
    margin-top: 15;
    justify-content: space-around;
}

.input-search {
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

.input-label-search {
    margin-right: 5;
    font-size: 14;
    font-weight: normal;
}

.search-box-button {
    width: 70;
    height: 37;
    margin-left: 5;
    cursor: pointer;
    border-radius: 5;
    color: #05386B;
}